name = "kpopdebut"
main = "dist/index.js"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"] 

[[d1_databases]]
binding = "DB"
database_name = "kpopdebut"
database_id = "b4178698-da8f-42a2-864f-1d40202bc498"

[vars]
NODE_ENV = "production"

[assets]
directory = "dist/public"
html_handling = "auto-trailing-slash"
not_found_handling = "single-page-application"